@charset "utf-8";

:root {
  --primary-color: #f46036; 
  --transition: all .15s ease-in-out;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* {
  margin: 0px;
}

body {
  background-color: #29292d;
  color: #fff;
}

main, header {
  font-family: "Rajdhani", sans-serif;
}

section {
  padding: 40px 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.gap {
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}


/*-------HEADER--------*/


header,footer {
  line-height: 60px;
  list-style: none;

}

header {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}



header li a, footer li a  {
  text-decoration: none;
  font-size: 20px;
}


.bars {
  display:none;
}

header li a:hover:not(.link, .bars){
color: var(--primary-color);
}


/*----INTRODUCTION----*/


section p {
  font-size: 17px;
  font-weight: 500;
}

.intro p {
  color: var(--primary-color);
}

.intro-text {
  margin-top: auto;
  margin-bottom: auto;
}

h2{
  font-size: 90px;
  line-height: 100px;
  width: 350px;
  line-height: 90px;
}

h2:after, h4:after{
  bottom: 0px;
  content: "";
  display: block;
  border-bottom: 5px solid var(--primary-color);
}

h2:after {width: 25%;}
h4:after {width: 50%;}

div h3 {
  font-size: 22px;
  margin-top: 15px;
}

.skill div {
  padding: 5px 20px;
  margin-top: 15px;
  font-weight: 500;
}

.html {background-color: #f46036;}
.css {background-color: #4585e5;}
.js {background-color: #FA8C45;}


h3, h5, .intro p, header li {
  font-size: 30px;
}

.link {
  padding: 5px 25px;
  cursor: pointer;
  transition: var(--transition);
  color: #fff;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

.link:hover {background-color: var(--primary-color);}

.profile {
  width: 100%;
  aspect-ratio: 1/1;
}

.picture {
  background: #fff url(../img/profile-pic.jpg)  center  / cover no-repeat ;
}


/*---ABOUT-ME---*/


.about-me {
  background-color: rgba(255, 255, 255, 0.05);
}

.about-me p {
  margin-top: 20px;
  font-size: 20px;
}

h4 {
  display: inline-block;
  font-size: 40px;
}

.work-jpg {
  background: #fff url(../img/work.jpg)  center  / cover no-repeat ;
  width: 100%;
  aspect-ratio: 1/1;
}


/*---PROJECTS---*/


.projects a {
  position: relative;
  display: block;
  flex: 0 0 calc(33.333% - 13.333px);
  max-width: calc(33.333% - 13.333px);
  height: 300px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.projects a .link-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* Initially hide the video */
  transition: opacity 0.3s ease;
  transform: scale(1.4);
}

.projects a:hover .link-pic {
  opacity: 1; /* Show the video on hover */
}

.projects li {
  font-size: 40px;
  list-style: none;
}



/*---CONTACT---*/ 


.contact  {
  text-align: center;
}

.contact p {
  margin: 20px 0;
}

/*---FOOTER---*/


footer {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  
}


/*---RESPONSIVE---*/



@media (max-width: 992px) {
  h2 {
    font-size: 80px;
  }

  
}

@media (max-width: 768px) {
  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }

  h2 {
    font-size: 65px;
    width: 100%;
  }

  .bars {
    display: inline-block;
  }

  header li a:not(.link, .bars)  {
    display: none;
  }

  .about-me .row {
    flex-direction: column-reverse;
  }

  .contact p {
    padding: 20px 50px;
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  .contact p {
    padding: 20px 0px;
    font-size: 15px;
  }

  .link {
    font-size: 17px;
  }
  
}

